# Python packages and versions used most recently in development environment
#
# This file is retained so that we will continue to get security update notifications
# and PRs from dependabot. It will be dropped when dependabot adds support for
# the `pixi.lock` file.
#
# Update this file with:
#   pixi run -e dev update-reqs

affine==2.4.0
alabaster==1.0.0
anyio==4.13.0
arrow==1.4.0
attrs==26.1.0
babel==2.18.0
backports.tarfile==1.2.0
black==26.5.1
branca==0.8.2
Brotli==1.2.0
certifi==2026.5.20
cffi==2.0.0
cfgv==3.5.0
cftime==1.6.5
charset-normalizer==3.4.7
click==8.4.1
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
commonmark==0.9.1
contourpy==1.3.3
coverage==7.14.1
cryptography==48.0.1
cycler==0.12.1
distlib==0.4.1
distro==1.9.0
docutils==0.22.4
editables==0.6
exceptiongroup==1.3.1
filelock==3.29.1
folium==0.20.0
fonttools==4.63.0
future==1.0.0
geopandas==1.1.3
h11==0.16.0
h2==4.3.0
hatch==1.17.0
hatchling==1.30.1
hpack==4.1.0
httpcore2==2.3.0
httpx2==2.3.0
hyperframe==6.1.0
hyperlink==21.0.0
identify==2.6.19
idna==3.17
imagesize==2.0.0
importlib_metadata==9.0.0
importlib_resources==7.1.0
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
jeepney==0.9.0
Jinja2==3.1.6
joblib==1.5.3
keyring==25.7.0
kiwisolver==1.5.0
mapclassify==2.10.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mdurl==0.1.2
moad_tools==26.2.dev0
mock==5.2.0
more-itertools==11.1.0
munkres==1.1.4
mypy_extensions==1.1.0
narwhals==2.22.0
netCDF4==1.7.4
networkx==3.6.1
nodeenv==1.10.0
numexpr==2.14.1
numpy==2.4.6
packaging==26.2
pandas==2.3.3
pathspec==1.1.1
pexpect==4.9.0
pillow==12.3.0
pip==26.1.2
platformdirs==4.10.0
pluggy==1.6.0
pre_commit==4.6.0
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pycparser==3.0
Pygments==2.20.0
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
pyproject_hooks==1.2.0
PySide6==6.11.1
PySocks==1.7.1
pytest==9.0.3
pytest-cov==7.1.0
pytest-randomly==3.15.0
python-dateutil==2.9.0.post0
python-discovery==1.4.0
pytokens==0.4.1
pytz==2026.2
PyYAML==6.0.3
rasterio==1.5.0
recommonmark==0.7.1
requests==2.34.2
rich==14.3.4
roman-numerals==4.1.0
scikit-learn==1.9.0
scipy==1.17.1
SecretStorage==3.4.1
setuptools==83.0.0
shapely==2.1.2
shellingham==1.5.4
shiboken6==6.11.1
six==1.17.0
snowballstemmer==3.1.1
snuggs==1.4.7
Sphinx==9.1.0
sphinx-copybutton==0.5.2
sphinx-notfound-page==1.1.0
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==1.1.10
tables==3.11.1
threadpoolctl==3.6.0
tomli==2.4.1
tomli_w==1.2.0
tomlkit==0.15.0
tornado==6.5.7
trove-classifiers==2026.6.1.19
truststore==0.10.4
typing_extensions==4.15.0
tzdata==2026.2
ukkonen==1.1.0
unicodedata2==17.0.1
urllib3==2.7.0
userpath==1.9.2
virtualenv==21.4.2
xarray==2026.4.0
xyzservices==2026.3.0
zipp==4.1.0
